body {
	font: 85%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}

.content p {
	margin-bottom:30px;	
}
td {
	padding: 5px;
	padding-left: 15px;
	vertical-align: top;
	border-top: 1px solid #ededed;
}

a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	width: 960px;
	background: #FFF;
	margin: 6% auto 6%;
}

.content {
	padding: 20px ;
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.textfieldRequiredMsg, 
.textfieldInvalidFormatMsg, 
.textfieldMinValueMsg,
.textfieldMaxValueMsg,
.textfieldMinCharsMsg,
.textfieldMaxCharsMsg,
.textfieldValidMsg {
	display: none;
}

.textfieldRequiredState .textfieldRequiredMsg, 
.textfieldInvalidFormatState .textfieldInvalidFormatMsg, 
.textfieldMinValueState .textfieldMinValueMsg,
.textfieldMaxValueState .textfieldMaxValueMsg,
.textfieldMinCharsState .textfieldMinCharsMsg,
.textfieldMaxCharsState .textfieldMaxCharsMsg
{
	display: inline;
	font-size: 10px;
	color: #CC3333;
}

.textfieldValidState input, input.textfieldValidState {
	background-color: #B8F5B1;
}

input.textfieldRequiredState, .textfieldRequiredState input, 
input.textfieldInvalidFormatState, .textfieldInvalidFormatState input, 
input.textfieldMinValueState, .textfieldMinValueState input, 
input.textfieldMaxValueState, .textfieldMaxValueState input, 
input.textfieldMinCharsState, .textfieldMinCharsState input, 
input.textfieldMaxCharsState, .textfieldMaxCharsState input {
	background-color: #FF9F9F;
}

.textfieldFocusState input, input.textfieldFocusState {
	background-color: #FFFFCC;
}

.textfieldFlashText input, input.textfieldFlashText {
	color: red !important;
}

.textfieldHintState input, input.textfieldHintState {
}

.descriptionText{
	font-size: 10px;
	color: #666;
	background-color: #eee;
}

.formLabel td,  .formLabel th, .formLabel {
	font-size: 12px;
	color: #666;
	background-color: #fff;
}
.formLabel th {
    padding: 5px 5px 5px 15px;
    text-align: left;
}
.formLabel td {
    font-size: 11px;
}
.footer-copyrights{
	font-size: 10px;
	color: #999;
	padding: 0px;
	margin: 0px;
	width: 960px;
	margin: 0 auto;
    text-align: center;
}
.footer-copyrights a{
	color: #999;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}

.error {
    color: #900;	
}